.dashboard {
  display: flex;
  nav {
    background: lightgoldenrodyellow;
    height: 78vh;
    min-width: 16vw;
    align-items: flex-start;
    padding: 5em 1em 0 2em;
    a {
      color: black;
      font-size: 1.4em;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
