div.dashboard {
  display: flex;
  ul.side-nav {
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    li {
      padding-right: 2em;
      margin: 2em;
      width: 100%;
      font-size: 1.4em;
    }
  }
}

section.dashboard-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 5em 3em;

  section.filter {
    h1 {
      font-size: 1.9em;
      text-align: center;
      font-weight: bold;
      padding-bottom: 3em;
    }
  }
}

section.scholarships {

  .scholarship {
    background: lightblue;
    margin: 1em;
    padding: 1em;

    h1 {
      font-size: 1.5em;
    }

    p:first-of-type {
      margin: 1em 0;
      line-height: 1.3;
    }

    p:last-of-type {
      text-align: right;
    }

  }
}