div.dashboard {
  display: flex;


  ul.side-nav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    li {
      padding-right: 2em;
      margin: 2em;
      width: 100%;
      font-size: 1.4em;
    }
  }

 
}

section.dashboard-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 5em 3em;

  section.filter {
   
    h1 {
      font-size: 1.9em;
      text-align: center;
      font-weight: bold;
      padding-bottom: 2em;
    }
  }
}

section.scholarships {

  .scholarship {
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin: 1em;
    padding: 1em;
    box-shadow: 0.09em 0.09em 0.09em rgba(0, 0, 0, 0.01);

    .scholarship-bottom {
      display: flex;
      justify-content: space-between;


      button {
        border: none;
        border-radius: 0.3em;
        background: #ff6283;
        color: white;
        font-size: 1.2em;
        &:hover {
   
        }
      }
    }

    h1 {
      font-size: 1.5em;
    }

    p:first-of-type {
      margin: 1em 0;
      line-height: 1.3;
    }

    p:last-of-type {
      text-align: left;
    }

  }
}


@media screen and (max-width: 800px) {
  ul.side-nav {
    display: none;

  }

  section.dashboard-content {
    padding: 2em 0.5em;

    section.filter {
      h1 {
        font-size: 1.7em;
      }
    }
    .scholarship {
      box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.3);
    }
  
  }


  

  
}