.Features {
  border: 0.1em solid rgba(0,0,0,0.1);
    background: #fbfbfb;
}

div.feature {
  width: 20em;
}


section.feature-section {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;

  h4 {
    font-size: 1.4em;
  }

  h4,p {
    margin: 0.5em 0 ;
  }

  p {
    line-height: 1.4;
  }

  img {
    width: 17em;
    height: 17em;
    margin-right: 1em;

  }

}


@media screen and (max-width: 800px) {
  section.feature-section {
    flex-direction: column;
    align-items: center;
    text-align: center;

    img {
      height: 20em;
      width: 20em;
    }
  }
  div.feature {
    margin-bottom: 3em;

    h4,p {
      margin: 0.5em 0 ;
    }
    h4 {
      font-size: 2em;
    }

    p {
      width: 60%;
      margin-left: 20%;
    }
  }
}