.Features {
  height: 88vh;
  background: #fbfbfb;
  border: 0.1px solid rgba(0, 0, 0, 0.05);
  padding: 0em 2.5em;

  .feature-content {
    padding-top:1em;
    display: flex;
    justify-content: space-between;
    width: 100%; 
    margin-right: 2em;

    .feature-step {
      display: flex;
      align-items: center;
      justify-content: center;
      background: lightblue;
      height: 20em;
      width: 20em;
      position: relative; 
      margin-left: 2em;
      
      .feature-step-content {
        position: absolute;
        top: 20em;
        width: 16em;

        p {
          opacity: 0.75;
          width: 18em;
          margin-top: 1em;
          line-height: 1.2em;
        }
      }
      h4 {
        margin-top: 1.5em;
        font-size: 1.3em;
        text-align: center;
      }

    }
    .signup {
      background: no-repeat url('../../images/home-page-pics/signup.jpg');
      background-size: cover;
      background-position: -50px ;
    }

    .apply {
      background: no-repeat url('../../images/home-page-pics/apply.jpg');
      background-size: cover;
      background-position: -20px ;
    }

    .dashboard {
      background: no-repeat url('../../images/home-page-pics/dashboard.jpg');
      background-size: cover;
      background-position: -20px ;
      background-size: 335px;
    }

    .celebrate {
      background: no-repeat url('../../images/home-page-pics/party.jpg');
      background-size: cover;
      background-position: -20px ;
    }

  }

}