.auth-page {
    background: rgba(121, 169, 248, 0.08);
    legend {
        text-align: center;
        font-size: 2em;
        margin-bottom: 2em;
    }
    
  .form-container {
      display: flex;
      justify-content: center;
      padding-top: 7em;
      
      form {
          display: flex;
          background-color: white;
          padding-top: 1em;
          min-width: 50%;
          margin-bottom: 9em;
          border-radius: 0.3em;
          box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.2);
    }
        a {
    color: black;
    margin: 1em 0 0 0.2em;
    }
    }


        option {
            margin-bottom: 2em;
        }
}
form.login {
    min-width: 80%;
    label:first-of-type {
        margin-top: -1em;
    }
}



.signup-fields,
.login-fields {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1em auto 4em auto;


    label {
        color: rgb(44, 43, 43);
        font-size: 1.1em;
        font-weight: bolder;
        margin-bottom: 2em;
    }

    p,a {
        text-align: center;
    }
 
    input {
        border-width: 0 0 2px;
        border-color: lightgray;
        color: black;
        padding: 5px 5px;
        font-size: 1em;
        width: 90%;
        margin-top: 1.2em;
    }

    select {
        width: 95%;
        font-size: 1.3em;
        margin:1em 0 1em 0;
    }

    option {
        padding-bottom: 2em;
    }

    input:focus {
        outline: none;
        border-color: darkblue;
    }

    button {
        margin: 0.5em 0;
        background-color: black;
        color: white;
        color: #ffffff;
        padding: 10px 15px 11px;
        font-size: 1em;
        letter-spacing: .02em;
        border: none;
        border-radius: 4px;

    &:hover {
            cursor: pointer;
            box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
        }
    }

 
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }



@media screen and (max-width: 800px) {
    label {
        margin-left:1em;
    }
    .form-container {
        padding:  0em 2em;
    } 
}


