.auth-page {
    background: rgba(121, 169, 248, 0.08);

  .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 6em;
      
      form {
          display: flex;
          background-color: white;
          padding: 1em 2em;
          min-width: 50%;
          margin-bottom: 9em;
          border-radius: 0.3em;
          box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.2);
    }
    form.login {
        min-width: 40%;
    }
    
          //DONE
          a {
            color: black;
            margin: 1em 0 0 0.2em;
          }
      }
}




.signup-fields,
.login-fields {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1em auto 4em auto;

    legend {
        text-align: center;
        font-size: 2em;
        padding-bottom: 1em;
    }

    label {
        margin: 1em 0em .3em .3em;
        color: rgb(44, 43, 43);
        font-size: 1em;
        font-weight: bolder;
    }
    p,a {
        text-align: center;
    }
    a {
        text-decoration: underline;
    }

    input {
        border-width: 0 0 2px;
        border-color: lightgray;
        color: black;
        padding: 5px 5px;
        font-size: 1em;
        margin-bottom: 1.5em;
    }

    select {
        margin: 1em 0;
        width: 95%;
        font-size: 1.3em;
    }

    input:focus {
        outline: none;
        border-color: darkblue;
    }

    button {
        margin: 0.5em 0;
        background-color: black;
        color: white;
        color: #ffffff;
        padding: 10px 15px 11px;
        font-size: 1em;
        letter-spacing: .02em;
        border: none;
        border-radius: 4px;

    &:hover {
            cursor: pointer;
            box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3);
        }
    }
}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }



@media screen and (max-width: 800px) {
    .form-container {
        padding:  1em;
        legend {
            font-size: 1.7em;
        }
        input{
            width: 90%;
        }
        select {
            width: 95%;
        }
        p {
            font-size: 1em;
        }
    }   
}


