@import 'reset';

//General styles
@import 'nav';
@import 'header';
@import 'features';
@import 'team';
@import 'footer';

//Form styles
@import 'form';


//Dashboard  styles
@import 'dashboard';

//Global custom styles
.page-section h2 {
  text-align: center;
  padding-top: 1em;
  font-size: 2em;
}

button:hover {
  cursor: pointer;
}