nav {
  background:#332b8c;
  display: flex;
  align-items: center;
  padding: 1em 4em;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1em);


  .nav-right {
    margin-left: auto;

    i {
      display: none;
      &:hover {
        cursor: pointer;
      }
    }

  }
  img {
    width: 50%;
    margin-left: -3em;
  }

  a {
    text-decoration: none;
    margin-left: 2em;
    color: black;
    font-size: 1.2em;
  }
  .nav-right {
    a {
      color: white;
      &:hover {
        padding-bottom: 0.1em;
        border-bottom: 1px solid #000;
        border-color: white;
        color: white;
      }
    }
    button {
      appearance: none;
      color: transparent;
    }
  }
  a.active {
    padding-bottom: 0.1em;
    border-bottom: 1px solid #000;
    border-color: white;
    color: white;
  }

  .red {
    height: 100vh;
  }
}

.dropdown {
  height: 100vh;
  position: fixed;
  opacity: 0.8;
}


@media screen and (max-width: 800px) {
  nav {
    background: #332b8c;
    padding: 1em 2em;
    position: sticky;
    top: 0;
  a[href="/login"],
  a[href="/signup"] {
    display: none;
  };

  h1 {
    text-align: center;

  }
  img.white-header-logo {
    display: block;
    height: 45%;
    width: 69.7%;
  }

  i.fas.fa-bars {
    display: block;
    color: white;
    font-size: 2em;
  }
}

}