// TODO: Style the header appropriately
nav {
  display: flex;
  align-items: center;
  // TODO: Figure out the padding on this
  padding: 1em 1em;
  box-shadow: 0.3em 0.3em 0.3em rgba(0, 0, 0, 0.1em);
  .nav-right {
    margin-left: auto;
  }
  img {
    width: 50%;
  }
  a {
    text-decoration: none;
    margin-left: 2em;
    color: black;
    font-size: 1.2em;
  }
  .nav-right {
    a {
      padding: 0.4em;
    }
  }
  a.active {
    background: #2196F3;
    border-radius: 0.2em;
    color: white;
  }
}