.Team {
  height: 100%;
  
  .team-section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 2em;
    h3 {
      font-size: 2em;
    }
  }
  img {
    height: 10em;
    border-radius: 100%;
    margin-bottom: 1em;
  }
  p {
    margin-top:10px;
  }
}


@media screen and (max-width: 800px) {
  .Team {
    height: 100%;
  }
  .team-section {
    flex-direction: column;
    align-items: center;
    margin-bottom: 5em;
    p, img {
      margin: 1em 0;
    }
  }
}