.dashboard-page {
    height: 82vh;
    background-color: $lightgray;
    margin: 0 auto;
    display: block;
    text-align: center;
    padding-top: 4em;
    .db-title {
        margin-top: 0em;
    }
    .sort-tool {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: $white;
        width: 60vw;
        margin: 0 auto;
        padding: .3em 0em;
    }
    input {
        border-width: 0 0 2px;
        border-color: $lightgray;
        color: black;
        padding: 5px 5px;
        font-size: 1em;
        width: 14vw;
    }
    input:focus {
        outline: none;
        border-color: $darkblue;
    }

    button {
        border-radius: 0;
        padding: 6px 24px 6px;
    }
}