.signup-page {
    background-color: $lightgray;
    .signup-section {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 3em;
        .signup-form {
            display: flex;
            flex-direction: column;
            background-color: white;
            padding: 1em 2em;
            min-width: 48vw;
            border-radius: 1em 0em 0em 1em;
            margin-bottom: 14em;
            // min-height: 60vh;
            .signup-small-logo {
                max-width: 12em;
            }
            .signup-fields {
                display: flex;
                flex-direction: column;
                margin-top: 5em;
                margin: 3em auto 0 auto;
                .legend {
                    text-align: center;
                }
                label {
                    margin: 1em 0em .3em .3em;
                    color: $gray;
                    font-size: .8em;
                    font-weight: bolder;
                }
                input {
                    border-width: 0 0 2px;
                    border-color: $lightgray;
                    color: black;
                    padding: 5px 5px;
                    font-size: 1em;
                    min-width: 20vw;
                }
                input:focus {
                    outline: none;
                    border-color: $darkblue;
                }
                .signup-submit {
                    margin-top: 1em;
                    background-color: black;
                }
            }
        }
        .signup-info-section {
            width: 25vw;
            height: 60vh;
            padding: 1em 2em;
            border-radius: 0em 1em 1em 0em;

            h1 {
                font-size: 3em;
                font-weight: bolder;
                color: white;
            }
        }
    }
}