.home-top {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 2.2em 10em 0em 10em;
    .info-section {
        max-width: 40vw;
        .slogan {
            font-family: 'Open Sans', sans-serif;
            font-size: 3em;
            font-weight: bolder;
            color: $black;
            margin-bottom: 0em;
        }
        .top-sentence {
            margin-top: .2em;
            color: $lighterblue;
            font-size: 1.2em;
        }
        .credits {
            margin-top: 7em;
            color: $lighterblue;
            font-size: 1.2em;
            span {
                color: $purple;
            }
        }
    }
    .img-section {
        .scholarship-img {
            margin-top: 3em;
            max-width: 14em;
        }
    }
}