/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Open Sans', sans-serif; }

.page-section h2 {
  text-align: center;
  padding-top: 0.5em;
  font-size: 2em;
  padding: 2em; }

nav {
  display: flex;
  align-items: center;
  padding: 1em 1em;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1); }
  nav .nav-right {
    margin-left: auto; }
    nav .nav-right i {
      display: none; }
  nav img {
    width: 50%; }
  nav a {
    text-decoration: none;
    margin-left: 2em;
    color: black;
    font-size: 1.2em; }
  nav .nav-right a {
    padding: 0.4em; }
    nav .nav-right a:hover {
      background: #2196F3;
      border-radius: 0.2em;
      color: white; }
  nav a.active {
    background: #2196F3;
    border-radius: 0.2em;
    color: white; }

@media screen and (max-width: 800px) {
  nav {
    background: #7EADF1; }
    nav a[href="/login"],
    nav a[href="/signup"] {
      display: none; }
    nav img {
      height: 25%;
      margin-left: -2.3em; }
    nav i.fa.fa-bars {
      display: block;
      background: red; } }
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 5fr 1fr;
  grid-template-areas: 'a c' 'b c';
  padding: 5em 4em;
  justify-content: space-between; }
  header .cta-content {
    width: 100%;
    grid-area: a; }
    header .cta-content h1 {
      font-size: calc(0.2em + 5vw);
      margin-bottom: 0.2em; }
    header .cta-content p {
      font-size: 1.3em;
      font-weight: 400;
      opacity: 0.8;
      line-height: 1.45;
      padding: 0.65em 0em; }
  header img {
    width: 100%;
    grid-area: c; }
  header a {
    grid-area: b; }
  header button {
    margin-top: 0.5em;
    padding: 0.5em;
    letter-spacing: 1.2px;
    font-size: 1.5em;
    width: 50%;
    border-radius: 0.1em;
    border: none;
    border-radius: 0.1em;
    color: white;
    background: #FF6283;
    transition: background opacity 7s;
    box-shadow: 0.06em 0.06em 0.06em rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: bold; }
    header button:hover {
      box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.1); }

@media screen and (max-width: 800px) {
  header {
    grid-template-columns: 1fr;
    grid-template-rows: 100px 3fr 0.5fr;
    grid-template-areas: 'a' 'c' 'b';
    padding: 2em 3em;
    justify-content: center;
    justify-items: center; }
    header span {
      font-size: 1.2em;
      width: 70%; }
    header h1 {
      text-align: left; }
    header img {
      margin: 3em 0; }
    header button {
      width: 190%;
      margin: -50%; }

  p {
    display: none; } }
.Features {
  border: 0.1em solid rgba(0, 0, 0, 0.1);
  background: #fbfbfb;
  min-height: 48em; }

div.feature {
  width: 20em; }

section.feature-section {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-wrap: wrap; }
  section.feature-section h4 {
    font-size: 1.4em; }
  section.feature-section h4, section.feature-section p {
    margin: 0.5em 0; }
  section.feature-section p {
    line-height: 1.4; }
  section.feature-section img {
    width: 17em;
    height: 17em;
    margin-right: 1em; }

@media screen and (max-width: 800px) {
  section.feature-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center; }
    section.feature-section img {
      height: 20em;
      width: 20em; }

  div.feature {
    margin-bottom: 3em; }
    div.feature h4, div.feature p {
      margin: 0.5em 0; }
    div.feature h4 {
      font-size: 2em;
      width: 100%; }
    div.feature p {
      width: 60%;
      margin-left: 20%;
      font-size: 1.09em; } }
.Team {
  height: 100%; }
  .Team .team-section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom: 20em; }
    .Team .team-section h3 {
      font-size: 2em; }
  .Team img {
    height: 10em;
    border-radius: 100%;
    margin-bottom: 1em; }
  .Team p {
    margin-top: 10px; }

@media screen and (max-width: 800px) {
  .Team {
    height: 100%; }
    .Team .team-section {
      flex-direction: column;
      padding-bottom: 15em;
      align-items: center; }
      .Team .team-section p {
        font-size: 1.15em; }
      .Team .team-section p, .Team .team-section img {
        margin: 2em 0; } }
footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; }
  footer .footer-credits {
    text-align: center;
    margin-top: .2em;
    color: white; }

.auth-page {
  background: black; }
  .auth-page .form-container {
    display: flex;
    justify-content: center;
    padding-top: 6em; }
    .auth-page .form-container form {
      display: flex;
      background-color: white;
      padding: 1em 2em;
      min-width: 48vw;
      margin-bottom: 9em;
      border-radius: 0.3em; }
    .auth-page .form-container a {
      color: black;
      margin: 1em 0 0 0.2em; }

.signup-fields,
.login-fields {
  display: flex;
  flex-direction: column;
  margin: 1em auto 4em auto; }
  .signup-fields legend,
  .login-fields legend {
    text-align: center;
    font-size: 2em;
    padding-bottom: 1em; }
  .signup-fields label,
  .login-fields label {
    margin: 1em 0em .3em .3em;
    color: gray;
    font-size: 1em;
    font-weight: bolder; }
  .signup-fields p, .signup-fields a,
  .login-fields p,
  .login-fields a {
    text-align: center; }
  .signup-fields input,
  .login-fields input {
    border-width: 0 0 2px;
    border-color: lightgray;
    color: black;
    padding: 5px 5px;
    font-size: 1em;
    margin-bottom: 1.5em;
    width: 20em; }
  .signup-fields select,
  .login-fields select {
    margin: 1em 0;
    width: 30em; }
  .signup-fields input:focus,
  .login-fields input:focus {
    outline: none;
    border-color: darkblue; }
  .signup-fields button,
  .login-fields button {
    margin: 2em 0;
    background-color: black;
    color: white;
    color: #ffffff;
    padding: 10px 15px 11px;
    font-size: 1em;
    letter-spacing: .02em;
    border: none;
    border-radius: 4px; }
    .signup-fields button:hover,
    .login-fields button:hover {
      cursor: pointer;
      box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.3); }

@media screen and (max-width: 800px) {
  .form-container {
    padding: 0 1em; }
    .form-container legend {
      font-size: 1.7em; }
    .form-container input {
      width: 90%; }
    .form-container select {
      width: 95%; }
    .form-container p {
      font-size: 1em; } }
.dashboard {
  display: flex; }
  .dashboard nav {
    height: 100%;
    min-width: 11.7em;
    align-items: flex-start;
    padding: 5em 1em 0 2em; }
    .dashboard nav a {
      color: black;
      font-size: 1.4em; }
      .dashboard nav a:hover {
        text-decoration: underline; }
  .dashboard section.filter {
    padding-top: 4.5em;
    width: 100%;
    text-align: center; }
    .dashboard section.filter h1 {
      font-size: 1.8em;
      margin-bottom: 0.6em;
      margin-left: 20%; }
  .dashboard section.dashboard-content {
    padding: 0 5em;
    width: 100%; }
    .dashboard section.dashboard-content .filter {
      display: flex;
      flex-direction: row; }
      .dashboard section.dashboard-content .filter h1 {
        text-align: center; }
  .dashboard section.scholarships {
    display: flex;
    flex-wrap: wrap;
    padding-top: 2em; }
    .dashboard section.scholarships .scholarship {
      border: 1px solid black;
      box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.2);
      padding: 1.2em;
      width: 100%;
      margin: 1em;
      text-align: left; }
      .dashboard section.scholarships .scholarship p {
        line-height: 1.5; }
      .dashboard section.scholarships .scholarship p:last-child {
        text-align: right;
        padding-right: 2em; }
    .dashboard section.scholarships h1 {
      margin-bottom: 1em;
      font-size: 2em; }
    .dashboard section.scholarships p {
      padding-bottom: 1em; }

/*# sourceMappingURL=main.css.map */
