/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

nav {
  display: flex;
  align-items: center;
  padding: 1em 1em;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.1); }
  nav .nav-right {
    margin-left: auto; }
  nav img {
    width: 50%; }
  nav a {
    text-decoration: none;
    margin-left: 2em;
    color: black;
    font-size: 1.2em; }
  nav .nav-right a {
    padding: 0.4em; }
  nav a.active {
    background: #2196F3;
    border-radius: 0.2em;
    color: white; }

header {
  height: 75vh;
  display: flex;
  align-items: center;
  padding: 1em 3.5em;
  justify-content: space-between; }
  header .cta-content {
    display: flex;
    flex-direction: column;
    width: 65%; }
    header .cta-content span[role="img"] {
      padding-left: 2%;
      font-size: 4em; }
    header .cta-content h1 {
      font-size: calc(0.2em + 5vw);
      margin-bottom: 0.2em; }
    header .cta-content p {
      font-size: 1.3em;
      font-weight: 400;
      opacity: 0.8;
      line-height: 1.45;
      padding: 0.65em 0em; }
  header img {
    height: 70%;
    margin-left: 2em; }
  header button {
    margin-top: 0.5em;
    padding: 0.5em;
    letter-spacing: 1.2px;
    font-size: 1.5em;
    width: 50%;
    border-radius: 0.1em;
    border: none;
    border-radius: 0.1em;
    color: white;
    background: #FF6283;
    transition: background opacity 7s;
    box-shadow: 0.06em 0.06em 0.06em rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-weight: bold; }
    header button:hover {
      box-shadow: 0.25em 0.25em 0.25em rgba(0, 0, 0, 0.1); }

.Features {
  height: 70vh;
  background: #fbfbfb; }
  .Features .feature-content {
    padding: 5em 14em;
    display: flex;
    justify-content: space-around; }
    .Features .feature-content .feature-circle {
      background: lightblue;
      height: 5em;
      width: 5em;
      border-radius: 100%;
      margin: 2em; }

.Team {
  background: lightgoldenrodyellow;
  height: 90vh; }
  .Team .team-section {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 2em; }
    .Team .team-section h3 {
      font-size: 2em; }
  .Team img {
    height: 10em;
    margin-bottom: 1em; }

footer {
  background: lightgoldenrodyellow;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh; }
  footer h4 {
    text-align: center; }

.auth-page {
  background-color: lightgoldenrodyellow;
  padding: 0 5em;
  height: 80vh; }
  .auth-page .form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3em;
    border-radius: 5em; }
    .auth-page .form-container form {
      display: flex;
      flex-direction: column;
      background-color: white;
      padding: 1em 2em;
      min-width: 48vw;
      height: 60vh; }
      .auth-page .form-container form .signup-fields {
        display: flex;
        flex-direction: column;
        margin: 3em auto 0 auto; }
        .auth-page .form-container form .signup-fields legend {
          text-align: center;
          font-size: 2em; }
        .auth-page .form-container form .signup-fields label {
          margin: 1em 0em .3em .3em;
          color: gray;
          font-size: .8em;
          font-weight: bolder; }
        .auth-page .form-container form .signup-fields input {
          border-width: 0 0 2px;
          border-color: lightgray;
          color: black;
          padding: 5px 5px;
          font-size: 1em;
          min-width: 20vw; }
        .auth-page .form-container form .signup-fields input:focus {
          outline: none;
          border-color: darkblue; }
        .auth-page .form-container form .signup-fields button {
          margin-top: 1em;
          background-color: black;
          color: white;
          position: relative;
          text-decoration: none;
          color: #ffffff;
          display: inline-block;
          padding: 10px 15px 11px;
          font-size: 13px;
          font-weight: 500;
          line-height: 17px;
          letter-spacing: .02em;
          border: none;
          border-radius: 4px;
          -webkit-appearance: none; }
      .auth-page .form-container form p {
        padding-top: 1em; }
      .auth-page .form-container form a {
        color: black;
        margin: 1em 0 0 0.2em; }
    .auth-page .form-container .info-section {
      width: 40vw;
      padding: 1em 2em; }
      .auth-page .form-container .info-section h1 {
        font-size: 3em;
        font-weight: bolder;
        color: white; }
  .auth-page .gradient {
    background: -webkit-gradient(linear, right top, left top, from(#00F260), to(#0575E6));
    background: linear-gradient(270deg, #00F260, #0575E6);
    background-size: 800% 800%;
    -webkit-animation: ColorChangeBackground 10s ease infinite;
    animation: ColorChangeBackground 10s ease infinite; }

@-webkit-keyframes ColorChangeBackground {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes ColorChangeBackground {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
.dashboard {
  display: flex;
  height: 80vh;
  background: lightgoldenrodyellow; }
  .dashboard nav {
    background: lightgoldenrodyellow;
    height: 100%;
    min-width: 16vw;
    align-items: flex-start;
    padding: 5em 1em 0 2em; }
    .dashboard nav a {
      color: black;
      font-size: 1.4em; }
      .dashboard nav a:hover {
        text-decoration: underline; }
  .dashboard section.filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 4.5em; }
    .dashboard section.filter h1 {
      font-size: 1.8em;
      margin-bottom: 0.6em; }
  .dashboard section.scholarships {
    display: flex;
    flex-wrap: wrap;
    background: lightcyan;
    width: 100%;
    justify-content: center;
    padding-top: 2em; }
    .dashboard section.scholarships .scholarship {
      border: 1px solid black;
      width: 20%;
      margin: 10px; }

body {
  font-family: 'Open Sans', sans-serif; }

.page-section h2 {
  text-align: center;
  padding-top: 1em;
  font-size: 2em; }

button:hover {
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
